/* hide home button */
#head .button[title="Home"] {
    display: var(--awUI-home-button, flex) !important;
}

/* add new block (+) bullet */
.add-button-link {
    opacity: calc(var(--awUI-new-bullet-hidden, 0) * 1);
}

/* sidebar page icon */
#left-sidebar .left-sidebar-inner .page-icon .ui__icon {
    visibility: var(--awUI-sidebar-page-icon, hidden) !important;
}

/* new page button */
#left-sidebar .left-sidebar-inner .new-page {
    display: var(--awUI-sidebar-new-page, none) !important;
    position: fixed;
}


/*
  >>> BEGIN: Quote
*/
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'] {
    --ls-guideline-color: transparent;
    transform: translate(-4px, -5px);
    margin: 8px 0;
    padding: 8px 0;
    border-radius: 5px;
    border-left: 4px solid var(--ls-page-blockquote-border-color);
    color: var(--ls-page-blockquote-color);
    background-color: var(--ls-page-blockquote-bg-color);
}
div:not(.initial) > div > div > div > [data-refs-self='["quote"]'].selected {
    background-color: var(--ls-block-highlight-color);
}
/*
  <<<< END: Quote
*/