/*
  >>> BEGIN: Tabs plugin
*/
.is-tabs-loaded #logseq-tabs_lsp_main {
    height: var(--awUI-tabs-height) !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    background-color: var(--awesome-ui-calc-bg, var(--ls-secondary-background-color));
    -webkit-app-region: drag;
}
html.is-mac .is-tabs-loaded .cp__header>.l {
    padding-left: 1rem;
}
/*
  <<<< END: Tabs plugin
*/


/*
  >>> BEGIN: Doc View Exporter plugin
*/
.kef-doc-exported .is-banner-active #banner,
.kef-doc-exported .is-tabs-loaded.is-banner-active #banner,
.kef-doc-exported body:not(.is-banner-active) .cp__sidebar-main-content,
.kef-doc-exported .is-tabs-loaded:not(.is-banner-active) .cp__sidebar-main-content {
    margin-top: 0 !important;
}
.kef-doc-exported .theme-inner {
    overflow: overlay;
}
.kef-doc-exported .add-button-link-wrap {
    display: none;
}
/*
  <<<< END: Doc View Exporter plugin
*/

#logseq-plugin-agenda_lsp_main {
  width: calc(100% - var(--ls-left-sidebar-width) - var(--awUI-calc-right-sidebar-width));
  height: calc(100% - var(--awUI-tabs-height) - var(--awUI-head-height))!important;
  left: var(--ls-left-sidebar-width);
  right: var(--awUI-calc-right-sidebar-width);
  top: calc(var(--awUI-tabs-height) + var(--awUI-head-height))!important;
}

#awUI-calendar-menu .ti-comet::before {
  content: "\ee21";
}