/* search filed position */
#search-button {
    display: none;
}
.is-search-reordered #search-button {
    display: flex;
    justify-content: start;
    flex-grow: 1;
    overflow: hidden;
    height: 34px;
    margin: 0 auto 0 0;
    padding: 0 6px;
    border-radius: 5px;
    border: 1px solid #AAAAAA60;
    background-color: var(--ls-primary-background-color);
    transition: all .3s;
    font-family: var(--awesomeUI-font);
}
.is-search-reordered #search-button::after {
    display: block;
    content: "Search...";
    margin: 2px 0 0 5px;
    font-size: calc(var(--awesomeUI-font-size) + 2px);
}
@media (min-width: 1024px) {
    .is-search-reordered #search-button::after {
        content: "Search or create page";
    }
}

/* search popup position */
.is-search-opened .ui__modal {
    top: calc(var(--awesomeUI-tabs-height) + 8px);
    padding: 0;
}
.ui__modal .ui__modal-panel {
    transition: none;
}
.ui__modal .ls-search {
    border-radius: 5px;
    border: 1px solid #AAAAAA60;
}
@media (min-width: 768px) {
    .ui__modal .ls-search {
        width: 740px;
    }
}
@media (min-width: 1024px) {
    .is-search-opened .ui__modal {
        left: 131px;
        justify-content: flex-start;
    }
    .cp__palette-main,
    .cp__select-main {
        width: auto;
    }
    html.is-mac .is-search-opened:not(.is-tabs-loaded) .ui__modal {
        left: 190px;
    }
    .is-pdf-active.is-search-opened .ui__modal {
        left: calc(var(--ph-view-container-width) + 120px);
    }
}
@media (min-width: 1200px) {
    .ui__modal-panel .panel-content .ls-search {
        width: var(--ls-main-content-max-width);
    }
}

/* search results style */
.ui__modal .ls-search .input-wrap {
    height: 38px;
}
.ui__modal .ls-search .input-wrap::before {
    font-family: "tabler-icons";
    content: "\eb1c";
    width: 22px;
    height: 22px;
    font-size: 20px;
    position: absolute;
    left: 7px;
    top: 0;
}
.ui__modal .ls-search .input-wrap .cp__palette-input {
    font-size: calc(var(--awesomeUI-font-size) + 2px);
    padding: 5px 32px 3px 32px;

}
