/*
  >>> BEGIN: compact sidebar menu
*/

#left-sidebar .nav-header {
    flex-direction: row;
    gap: 4px;
    height: 30px;
}
#left-sidebar .nav-header .ui__icon {
    margin: 0;
    padding: 0;
}
#left-sidebar .nav-header .journals-nav .ui__icon {
    margin-top: 1px;
}
#left-sidebar .nav-header .whiteboard .ui__icon {
    margin-top: 0px;
    font-size: 20px;
}
#left-sidebar .nav-header .all-pages-nav .ui__icon {
    margin-top: 2px;
}
#left-sidebar .nav-header .item:hover {
    background-color: var(--ls-secondary-background-color);
}
#left-sidebar .nav-header .ui__icon + span {
    display: none;
}
#left-sidebar .flashcards-nav .rounded-full {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
/*
  <<<< END: compact sidebar menu
*/
