/* Markmap */
#injected-ui-item-logseq-mark-map-logseq-mark-map .ti {
  font-size: 18px;
  line-height: 1.4em;
}

/*
  >>> BEGIN: Doc View Exporter plugin
*/
/* head toolbar icon */
.kef-doc-icon {
  opacity: 0.5 !important;
}

.kef-doc-icon:hover {
  background-color: none !important;
  opacity: 1 !important;
}

/* exported doc */
.kef-doc-exported .is-banner-active #banner,
.kef-doc-exported .is-plugin-tabs-enabled.is-banner-active #banner,
.kef-doc-exported body:not(.is-banner-active) .cp__sidebar-main-content,
.kef-doc-exported .is-plugin-tabs-enabled:not(.is-banner-active) .cp__sidebar-main-content {
    margin-top: 0 !important;
}
.kef-doc-exported .theme-inner {
    overflow: overlay;
}
.kef-doc-exported .add-button-link-wrap {
    display: none;
}
/*
  <<<< END: Doc View Exporter plugin
*/

/* Logseq Graph Analysis */
[data-pid="logseq-graph-analysis"].visible {
  z-index: var(--ls-z-index-level-3) !important;
}

/* Tags plugin */
#logseq-tags_iframe {
  padding-top: calc(var(--awUi-tabs-height, 0px) - 8px);
}


/* >>> BEGIN: TextWrapper plugin
*/
#kef-wrap-toolbar {
  transform: translateY(calc( (var(--awUi-header-height) + var(--awUi-tabs-height, 0px)) * -1 ));
}
/*
<<<< END: TextWrapper plugin
*/
