.mermaid svg[aria-roledescription="gantt"] .task,
.mermaid .labelBox,
.mermaid .label,
.mermaid .actor,
.mermaid .node rect,
.mermaid .node circle,
.mermaid .node ellipse,
.mermaid .node polygon,
.mermaid .node path {
    stroke: var(--ls-primary-text-color) !important;
    fill: var(--ls-secondary-background-color) !important;
    color: var(--ls-primary-text-color) !important;
}
.mermaid .divider,
.mermaid .task,
.mermaid .journey-section,
.mermaid rect,
.mermaid circle,
.mermaid ellipse,
.mermaid polygon,
.mermaid path {
    stroke: var(--ls-primary-text-color) !important;
}
.journey-section.section-type-0,
.task.task-type-0 {
    fill: var(--ls-secondary-background-color) !important;
}
.journey-section.section-type-1,
.task.task-type-1 {
    fill: var(--ls-tertiary-background-color) !important;
}
.journey-section.section-type-2,
.task.task-type-2 {
    fill: var(--ls-quaternary-background-color) !important;
}
.journey-section.section-type-3,
.task.task-type-3 {
    fill: var(--color-level-4) !important;
}
.journey-section.section-type-4,
.task.task-type-4 {
    fill: var(--color-level-5) !important;
}
.mermaid .edgeLabel {
  background-color: var(--ls-border-color) !important;
  border-radius: 4px;
  color: var(--ls-secondary-text-color) !important;
}
.mermaid span.edgeLabel:not(:empty) {
  padding: 2px 6px !important;
}
.mermaid .taskText,
.mermaid span {
    color : var(--ls-primary-text-color) !important;
}
.mermaid text,
.mermaid text > tspan {
    fill: var(--ls-primary-text-color) !important;
}
.mermaid text.messageText {
    fill: var(--ls-secondary-text-color) !important;
}
.mermaid line {
    stroke: var(--ls-primary-text-color) !important;
}
.mermaid g line {
    stroke: var(--ls-guideline-color) !important;
}
.mermaid marker path {
    stroke: var(--ls-primary-text-color) !important;
    fill: var(--ls-primary-text-color) !important;
}
.mermaid .note {
    stroke: var(--ls-guideline-color) !important;
    fill: var(--ls-page-mark-bg-color) !important;
}
.mermaid .note text > tspan {
    fill: var(--ls-page-mark-bg-color) !important;
}
.mermaid [class^="activation"] {
    stroke: var(--ls-primary-text-color) !important;
    fill: var(--ls-guideline-color) !important;
}
