/* layout */
body.is-pdf-active #logseq-tabs_lsp_main {
    left: calc(var(--ph-view-container-width)) !important;
}

body.is-pdf-active #app-container {
    padding-left: calc(var(--ph-view-container-width));
}
#pdf-layout-container {
    top: 0 !important;
}

body.is-pdf-active #head {
    left: calc(var(--ph-view-container-width));
}
html.is-mac body:not(.is-pdf-active):not(.is-plugin-tabs-enabled) #head>.r>.flex {
    left: calc(-1 * var(--ls-left-sidebar-width) + 178px);
}


/* search */
body.is-pdf-active.is-search-opened .ui__modal {
    left: 0;
    justify-content: flex-end;
}
