.ls-block[data-refs-self*='"card"'] {
    --ls-guideline-color: transparent;
    position: relative;
    margin: 0px 0 8px 0;
    padding: 12px 32px 12px 0;
    border: 1px solid var(--ls-border-color);
    border-left-width: 4px;
    box-shadow: none;
    transform: translate(4px, -2px);
}

.ls-block[data-refs-self*='"card"']:not(.pre-block)::before,
.ls-block[data-refs-self*='"card"'] > div  {
    transform: translateX(-8px);
}

#cards-modal .ls-block[data-refs-self*='"card"'] {
    transform: none;
}

.ls-block[data-refs-self*='"card"'] > .flex.flex-row::before {
    position: absolute;
    top: 0;
    right: 4px;
    content: "\ea38";
    font-family: tabler-icons;
    font-size: 20px;
    opacity: 0.5;
}
