.ls-block[data-refs-self*='"card"'] {
    --ls-guideline-color: transparent;
    position: relative;
    margin: 0px 0 8px 0;
    padding: 12px 32px 12px 0;
    border: 1px solid var(--ls-border-color);
    border-left-width: 4px;
    box-shadow: none;
    /* box-shadow: 0 4px 4px -2px rgb(0 0 0 / 15%); */
    transform: translate(-2px, -1px);
}

#cards-modal .ls-block[data-refs-self*='"card"'] {
    transform: none;
}

.ls-block[data-refs-self*='"card"'] > .flex.flex-row::before {
    position: absolute;
    top: 0;
    right: 4px;
    content: "\ea38";
    font-family: tabler-icons;
    font-size: 20px;
    opacity: 0.5;
}
