:root {
    --awUI-propEdit-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23888A' fill='none' %3e%3cpath d='M4.182 4h-.727A1.455 1.455 0 0 0 2 5.455V12a1.454 1.454 0 0 0 1.455 1.454H10A1.454 1.454 0 0 0 11.454 12v-.727'/%3e%3cpath d='m10.636 2.636 2.182 2.182m1.011-1.033a1.527 1.527 0 0 0-2.16-2.16L5.545 7.727V9.91h2.182l6.102-6.116v-.008Z'/%3e%3c/svg%3e");
}

.block-properties.block-properties.block-properties {
    display: grid !important;
    grid-template-columns: 1fr 10fr;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0 8px !important;
    border: 4px solid var(--ls-page-properties-background-color) !important;
    /* grid-gap: 1px 0; */
    /* background-color: #88888833; */
}
.block-properties > div {
    display: contents !important;
}
.block-properties > div > div {
    margin: 0;
    /* background-color: var(--ls-page-properties-background-color); */
}
.block-properties span.mr-1 {
    display: none;
}
.block-properties .page-property-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-properties > div > div:first-child {
    padding: 0 1.8em;
    position: relative;
    /* background: var(--awUI-propView-icon) 0.25em -1px / 1em 2.77ex no-repeat !important; */
}

.block-properties .bracket {
    display: none;
}

.block-properties > div > div:first-child::before {
    content: "●";
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    opacity: .2;
    font-family: Inter;
    font-size: 0.6em;
}

/* default */
.block-properties .page-property-value::before {
    content: "\ea08";
    position: absolute;
    z-index: 0;
    margin-top: -0.12ex;
    left: 9px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}

/* ext link */
.block-properties .page-property-value a.external-link::before {
    content: "\eade";
    position: absolute;
    z-index: 1;
    margin-top: -0.24ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}
/* page refs */
.block-properties .page-property-value .page-reference:first-of-type::before {
    content: "\ea24";
    position: absolute;
    z-index: 1;
    margin-top: -0.36ex;
    left: 7px;
    font-family: tabler-icons;
    color: #888a;
    background: var(--ls-page-properties-background-color);
    font-size: 1.3em;
    font-weight: 400;
}

/* key */
.block-properties .page-property-key[data-ref]::after {
    position: absolute;
    z-index: 2;
    top: -0.12ex;
    left: 0;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}

/* link */
.block-properties .page-property-key[data-ref="link"]::after,
.block-properties .page-property-key[data-ref="links"]::after,
.block-properties .page-property-key[data-ref="url"]::after,
.block-properties .page-property-key[data-ref="source"]::after {
    content: "\eade" !important;
}

/* tags */
.block-properties .page-property-key[data-ref="tags"]::after,
.block-properties .page-property-key[data-ref="tag"]::after {
    content: "\eb34" !important;
}
/* related */
.block-properties .page-property-key[data-ref="related"]::after {
    content: "\edff" !important;
}
/* media */
.block-properties .page-property-key[data-ref="media"]::after {
    content: "\ece8" !important;
}
/* page-type */
.block-properties .page-property-key[data-ref*="type"]::after {
    content: "\f038" !important;
}
/* area */
.block-properties .page-property-key[data-ref="area"]::after {
    content: "\edc5" !important;
}
/* category */
.block-properties .page-property-key[data-ref*="category"]::after,
.block-properties .page-property-key[data-ref="subcategory"]::after,
.block-properties .page-property-key[data-ref="topic"]::after {
    content: "\ec9f" !important;
}

/* author */
.block-properties .page-property-key[data-ref*="author"]::after,
.block-properties .page-property-key[data-ref*="creator"]::after,
.block-properties .page-property-key[data-ref*="owner"]::after,
.block-properties .page-property-key[data-ref="who"]::after,
.block-properties .page-property-key[data-ref*="attendee"]::after,
.block-properties .page-property-key[data-ref*="participant"]::after {
    content: "\ef68" !important;
}

/* project */
.block-properties .page-property-key[data-ref*="project"]::after {
    content: "\ecef" !important;
}
/* task(s) */
.block-properties .page-property-key[data-ref*="task"]::after {
    content: "\eb6a" !important;
}
/* status */
.block-properties .page-property-key[data-ref*="status"]::after {
    content: "\ea67" !important;
}

/* date */
.block-properties .page-property-key[data-ref*="date"]::after,
.block-properties .page-property-key[data-ref*="day"]::after,
.block-properties .page-property-key[data-ref*="week"]::after,
.block-properties .page-property-key[data-ref*="month"]::after,
.block-properties .page-property-key[data-ref*="year"]::after {
    content: "\ea52" !important;
}
/* time */
.block-properties .page-property-key[data-ref*="time"]::after,
.block-properties .page-property-key[data-ref*="duration"]::after {
    content: "\ea04" !important;
}

/* cover */
.block-properties .page-property-key[data-ref*="image"]::after,
.block-properties .page-property-key[data-ref*="cover"]::after,
.block-properties .page-property-key[data-ref="banner"]::after {
    content: "\eb0a" !important;
}

/* book */
.block-properties .page-property-key[data-ref*="book"]::after,
.block-properties .page-property-key[data-ref*="pdf"]::after {
    content: "\ea39" !important;
}
/* article */
.block-properties .page-property-key[data-ref*="article"]::after {
    content: "\eafd" !important;
}
/* slide */
.block-properties .page-property-key[data-ref*="slide"]::after,
.block-properties .page-property-key[data-ref="presentation"]::after {
    content: "\eb70" !important;
}

/* title */
.block-properties .page-property-key[data-ref*="title"]::after {
    content: "\f2b1" !important;
}
/* library */
.block-properties .page-property-key[data-ref*="library"]::after {
    content: "\efc5" !important;
}
/* number */
.block-properties .page-property-key[data-ref="number"]::after {
    content: "\f1fe" !important;
}
/* code */
.block-properties .page-property-key[data-ref="code"]::after {
    content: "\ea77" !important;
}
/* quote */
.block-properties .page-property-key[data-ref*="quote"]::after {
    content: "\efbe" !important;
}
/* note */
.block-properties .page-property-key[data-ref*="summary"]::after,
.block-properties .page-property-key[data-ref*="note"]::after {
    content: "\eb83" !important;
}

/* publisher */
.block-properties .page-property-key[data-ref="publisher"]::after,
.block-properties .page-property-key[data-ref="print"]::after {
    content: "\eb0e" !important;
}
/* location */
.block-properties .page-property-key[data-ref="location"]::after,
.block-properties .page-property-key[data-ref="place"]::after {
    content: "\eae8" !important;
}

/* rating */
.block-properties .page-property-key[data-ref*="rating"]::after,
.block-properties .page-property-key[data-ref*="quality"]::after {
    content: "\eb2e" !important;
}
/* lang */
.block-properties .page-property-key[data-ref="lang"]::after,
.block-properties .page-property-key[data-ref="language"]::after {
    content: "\eaa6" !important;
}
/* level */
.block-properties .page-property-key[data-ref*="level"]::after {
    content: "\efee" !important;
}
/* size */
.block-properties .page-property-key[data-ref*="size"]::after {
    content: "\eef7" !important;
}
/* price */
.block-properties .page-property-key[data-ref*="price"]::after {
    content: "\ee1e" !important;
}
/* paid */
.block-properties .page-property-key[data-ref="paid"]::after {
    content: "\eb25" !important;
}
/* certificate */
.block-properties .page-property-key[data-ref="certificate"]::after {
    content: "\ed76" !important;
}


/* edit */
.pre-block .editor-wrapper textarea {
    padding: 0 0 0 2.05em !important;
    border: 4px solid var(--ls-primary-background-color) !important;
    background:
        var(--awUI-propEdit-icon) 0.4em 0.1em / 1.2em 24px repeat-y local,
        linear-gradient(transparent 0%, transparent 96%, #88888833 100%) 0 0 / 1px 24px repeat local !important;
    white-space: pre;
    overflow: auto;
}

/*  Flow theme fix*/
.page-property-key {
    min-width: unset !important;
    max-width: unset !important;
}
.block-properties::before,
.block-properties .page-property-key::before,
.block-properties .inline.mr-1::before {
    display: none !important;
}
