:root {
    --awUI-propEdit-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23888A' fill='none' %3e%3cpath d='M4.182 4h-.727A1.455 1.455 0 0 0 2 5.455V12a1.454 1.454 0 0 0 1.455 1.454H10A1.454 1.454 0 0 0 11.454 12v-.727'/%3e%3cpath d='m10.636 2.636 2.182 2.182m1.011-1.033a1.527 1.527 0 0 0-2.16-2.16L5.545 7.727V9.91h2.182l6.102-6.116v-.008Z'/%3e%3c/svg%3e");
}

.block-properties.block-properties.block-properties {
    display: grid !important;
    grid-template-columns: 1fr 10fr;
    overflow: hidden;
    position: relative;
    padding: 0 8px !important;
    border: 4px solid var(--ls-page-properties-background-color) !important;
    /* grid-gap: 1px 0; */
    /* background-color: #88888833; */
}

.is-awSt-theme .block-properties *::before, .block-properties *::after {
    transform: translateY(-1px);
}

.ls-block[data-collapsed] > div > div > div > div > .block-content > .block-properties {
    display: none !important;
}
.ls-block:not([data-collapsed]) > div > div > div > div > .block-content > .block-properties,
.ls-block[data-collapsed="false"] > div > div > div > div > .block-content > .block-properties {
    display: grid !important;
}

.block-properties > div {
    display: contents !important;
}
.block-properties > div > :is(div, span, a) {
    margin: 0;
    /* background-color: var(--ls-page-properties-background-color); */
}
.block-properties span.mr-1 {
    display: none;
}
.block-properties .page-property-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-properties > div > :is(div, span, a):first-child {
    padding: 0 1.8em 0 1.7em;
    position: relative;
}

.block-properties .bracket {
    display: none;
}

.block-properties > div > :is(div, span, a):first-child::after {
    content: "â—";
    position: absolute;
    top: 0.7em;
    right: 0.8em;
    color: var(--ls-primary-text-color);
    opacity: .2;
    font-family: Inter;
    font-size: 0.6em;
}

/* default */
.block-properties .page-property-value::before {
    content: "\ea08";
    position: absolute;
    z-index: 0;
    margin-top: -0.12ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}

/* ext link */
.block-properties .page-property-value a.external-link::before {
    content: "\eade";
    position: absolute;
    z-index: 1;
    margin-top: -0.24ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}
/* page refs */
.block-properties .page-property-value .page-reference:first-of-type::before {
    content: "\ea24";
    position: absolute;
    z-index: 1;
    margin-top: -0.36ex;
    left: 7px;
    font-family: tabler-icons;
    color: #888a;
    background: var(--ls-page-properties-background-color);
    font-size: 1.3em;
    font-weight: 400;
}

/* key */
.block-properties .page-property-key[data-ref]::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: -0.12ex;
    left: 0;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}

/* link */
.block-properties .page-property-key[data-ref="link"]::before,
.block-properties .page-property-key[data-ref="links"]::before,
.block-properties .page-property-key[data-ref="url"]::before,
.block-properties .page-property-key[data-ref="source"]::before {
    content: "\eade" !important;
}

/* tags */
.block-properties .page-property-key[data-ref="tags"]::before,
.block-properties .page-property-key[data-ref="tag"]::before {
    content: "\eb34" !important;
}

/* alias */
.block-properties .page-property-key[data-ref="alias"]::before {
    content: "\edef" !important;
}
/* related */
.block-properties .page-property-key[data-ref="related"]::before {
    content: "\edff" !important;
}
/* media */
.block-properties .page-property-key[data-ref="media"]::before {
    content: "\ece8" !important;
}
/* page-type */
.block-properties .page-property-key[data-ref*="type"]::before {
    content: "\eaba" !important;
}
/* area */
.block-properties .page-property-key[data-ref="area"]::before {
    content: "\edc5" !important;
}
/* category */
.block-properties .page-property-key[data-ref*="category"]::before,
.block-properties .page-property-key[data-ref="subcategory"]::before,
.block-properties .page-property-key[data-ref="topic"]::before {
    content: "\ec9f" !important;
}

/* author */
.block-properties .page-property-key[data-ref*="author"]::before,
.block-properties .page-property-key[data-ref*="creator"]::before,
.block-properties .page-property-key[data-ref*="owner"]::before,
.block-properties .page-property-key[data-ref="who"]::before,
.block-properties .page-property-key[data-ref*="attendee"]::before,
.block-properties .page-property-key[data-ref*="participant"]::before {
    content: "\ef68" !important;
}

/* project */
.block-properties .page-property-key[data-ref*="project"]::before {
    content: "\ecef" !important;
}
/* task(s) */
.block-properties .page-property-key[data-ref*="task"]::before {
    content: "\eb6a" !important;
}
/* status */
.block-properties .page-property-key[data-ref*="status"]::before {
    content: "\ea67" !important;
}

/* date */
.block-properties .page-property-key[data-ref*="date"]::before,
.block-properties .page-property-key[data-ref*="day"]::before,
.block-properties .page-property-key[data-ref*="week"]::before,
.block-properties .page-property-key[data-ref*="month"]::before,
.block-properties .page-property-key[data-ref*="year"]::before {
    content: "\ea52" !important;
}
/* time */
.block-properties .page-property-key[data-ref="pace"]::before,
.block-properties .page-property-key[data-ref*="time"]::before,
.block-properties .page-property-key[data-ref*="duration"]::before {
    content: "\ea04" !important;
}

/* cover */
.block-properties .page-property-key[data-ref*="image"]::before,
.block-properties .page-property-key[data-ref*="cover"]::before,
.block-properties .page-property-key[data-ref="banner"]::before {
    content: "\eb0a" !important;
}

/* book */
.block-properties .page-property-key[data-ref*="book"]::before,
.block-properties .page-property-key[data-ref*="pdf"]::before {
    content: "\ea39" !important;
}
.block-properties .page-property-value a[data-href*="pdf"]::before {
    content: "\ea39";
    position: absolute;
    z-index: 2;
    margin-top: -0.12ex;
    left: 8px;
    font-family: 'tabler-icons';
    color: #888888AA;
    background: var(--ls-page-properties-background-color);
    font-size: 1.13em;
    font-weight: 400;
}

/* article */
.block-properties .page-property-key[data-ref*="article"]::before {
    content: "\eafd" !important;
}
/* slide */
.block-properties .page-property-key[data-ref*="slide"]::before,
.block-properties .page-property-key[data-ref="presentation"]::before {
    content: "\eb70" !important;
}
/* file */
.block-properties .page-property-key[data-ref*="file"]::before {
    content: "\eb02" !important;
}

/* template */
.block-properties .page-property-key[data-ref="template"]::before {
    content: "\eb39" !important;
}

/* title */
.block-properties .page-property-key[data-ref*="title"]::before {
    content: "\f2b1" !important;
}
/* library */
.block-properties .page-property-key[data-ref*="library"]::before {
    content: "\efc5" !important;
}
/* number */
.block-properties .page-property-key[data-ref="number"]::before,
.block-properties .page-property-key[data-ref="isbn"]::before {
    content: "\f1fe" !important;
}
/* code */
.block-properties .page-property-key[data-ref="code"]::before {
    content: "\ea77" !important;
}
/* quote */
.block-properties .page-property-key[data-ref*="quote"]::before {
    content: "\efbe" !important;
}
/* note */
.block-properties .page-property-key[data-ref*="summary"]::before,
.block-properties .page-property-key[data-ref*="note"]::before {
    content: "\eb83" !important;
}

/* publisher */
.block-properties .page-property-key[data-ref="publisher"]::before,
.block-properties .page-property-key[data-ref="print"]::before {
    content: "\eb0e" !important;
}
/* location */
.block-properties .page-property-key[data-ref="location"]::before,
.block-properties .page-property-key[data-ref="place"]::before {
    content: "\eae8" !important;
}

/* rating */
.block-properties .page-property-key[data-ref*="rating"]::before,
.block-properties .page-property-key[data-ref*="quality"]::before {
    content: "\eb2e" !important;
}
/* lang */
.block-properties .page-property-key[data-ref="lang"]::before,
.block-properties .page-property-key[data-ref="language"]::before {
    content: "\eaa6" !important;
}
/* level */
.block-properties .page-property-key[data-ref*="level"]::before {
    content: "\efee" !important;
}
/* size */
.block-properties .page-property-key[data-ref*="size"]::before {
    content: "\eef7" !important;
}
/* price */
.block-properties .page-property-key[data-ref*="price"]::before {
    content: "\ee1e" !important;
}
/* paid */
.block-properties .page-property-key[data-ref="paid"]::before {
    content: "\eb25" !important;
}
/* certificate */
.block-properties .page-property-key[data-ref="certificate"]::before {
    content: "\ed76" !important;
}
/* equipment */
.block-properties .page-property-key[data-ref="equipment"]::before {
    content: "\eff0" !important;
}
/* body-part */
.block-properties .page-property-key[data-ref="body-part"]::before {
    content: "\f2db" !important;
}


/* edit */
.pre-block > .flex > .editor-wrapper > .editor-inner > textarea {
    padding: 0 0 0 2.2em !important;
    border: 4px solid transparent !important;
    background:
        var(--awUI-propEdit-icon) 0.45em 0 / 1.2em 1.5em repeat-y local,
        linear-gradient(transparent 0%, transparent 96%, #88888833 100%) 0 0 / 1px 1.5em repeat local !important;
    white-space: pre;
    overflow: auto;
}


/*  Flow theme fix*/
.page-property-key {
    min-width: unset !important;
    max-width: unset !important;
}
.block-properties::before,
.block-properties .inline.mr-1::before {
    display: none !important;
}
