:root {
    --awUi-tabs-height: 36px;
}

/*
  >>> BEGIN: Layout
*/
.ls-window-controls .window-controls {
    top: calc( var(--awUi-tabs-height) + 7px);
}

.cp__sidebar-main-content {
    padding-top: 0 !important;
}

#head {
    top: var(--awUi-tabs-height) !important;
}

#left-sidebar .left-sidebar-inner > .wrap {
    height: calc(100vh - var(--awUi-tabs-height) - var(--awUi-header-height)) !important;
    margin-top: calc(var(--awUi-header-height) + var(--awUi-tabs-height)) !important;
}

#main-content-container {
    top: var(--awUi-tabs-height) !important;
    height: calc(100vh - var(--awUi-header-height) - var(--awUi-tabs-height)) !important;
}
body[data-awui-header-variant="Wide"] #main-content-container {
    top: calc(var(--awUi-header-height) + var(--awUi-tabs-height)) !important;
    height: calc(100vh - var(--awUi-header-height) - var(--awUi-tabs-height)) !important;
}

#right-sidebar {
    top: var(--awUi-tabs-height) !important;
}
body[data-awui-header-variant="Wide"] #right-sidebar {
    top: calc(var(--awUi-header-height) + var(--awUi-tabs-height)) !important;
}

#right-sidebar .sidebar-item-list {
    height: calc(100vh - var(--awUi-tabs-height) - 2.5rem) !important;
}
body[data-awui-header-variant="Wide"] #right-sidebar .sidebar-item-list {
    height: calc(100vh - var(--awUi-header-height) - var(--awUi-tabs-height) - 2.5rem) !important;
}

.is-mac #head > .l {
    padding-left: 0.5rem;
}

/*
  <<<< END: Layout
*/

/*
  >>> BEGIN: Tabs plugin
*/
[data-pid="logseq-tabs"] {
    position: fixed !important;
    top: 0 !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    z-index: 99 !important;
    height: var(--awUi-tabs-height) !important;
    width: 100% !important;
    max-width: 100% !important;
    background-color: var(--ls-tertiary-background-color);
}

#logseq-tabs_iframe {
    position: static !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    z-index: unset !important;
    height: var(--awUi-tabs-height) !important;
}

.is-mac [data-pid="logseq-tabs"]::before {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 84px;
    height: var(--awUi-tabs-height, 0px);
    border-bottom: 1px solid #80808080;
    background-color: var(--ls-tertiary-background-color);
}

.is-mac [data-pid="logseq-tabs"] {
    left: 84px !important;
}

html.is-mac.is-fullscreen body:not(.is-pdf-active) [data-pid="logseq-tabs"] {
    left: 0 !important;
}

body.is-pdf-active [data-pid="logseq-tabs"] {
    left: calc(var(--ph-view-container-width)) !important;
}

html.is-mac.is-fullscreen [data-pid="logseq-tabs"]::before,
html.is-mac .is-pdf-active [data-pid="logseq-tabs"]::before {
    display: none;
}

/*
  <<<< END: Tabs plugin
*/
