.logseq-tab-wrapper {
    display: flex;
    align-items: flex-start;
}

.logseq-tab-wrapper::after {
    position: absolute;
    content: '';
    height: 1px;
    background: #80808080;
    width: 100%;
    z-index: 0;
}

.light .logseq-tab,
.dark .logseq-tab {
    padding: 4px 8px;
    height: auto;
    color: var(--ls-primary-text-color) !important;
    background-color: var(--ls-primary-background-color) !important;
    box-shadow: none;
    border-color: #80808080 !important;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-app-region: no-drag;
}

.light .logseq-tab[data-active=false],
.dark .logseq-tab[data-active=false] {
    opacity: 0.7;
}

.light .logseq-tab[data-active=false]:hover,
.dark .logseq-tab[data-active=false]:hover {
    box-shadow: var(--ls-link-text-color) 0px 1px 1px 0px;
}

.light .logseq-tab[data-active=true],
.dark .logseq-tab[data-active=true] {
    background-color: var(--ls-secondary-background-color) !important;
    box-shadow: var(--ls-link-text-color) 0px 1px 1px 0px;
    position: relative;
    z-index: 1;
    bottom: 0;
}

.light .logseq-tab div,
.dark .logseq-tab div {
    border: 0;
    background-color: transparent;
}

.light .logseq-tab button:hover,
.dark .logseq-tab button:hover,
.light .logseq-tab[data-active=true] button:hover,
.dark .logseq-tab[data-active=true] button:hover {
    background-color: transparent !important;
}

.logseq-tab-title {
    transition: none;
}

.close-all .logseq-tab-title::before {
    content: '❌';
    margin-right: 4px;
    opacity: 0.8;
}
