blockquote,
.ls-block[data-refs-self*='"quote"']:not(.pre-block) {
    --ls-guideline-color: transparent;
    position: relative;
    margin: -2px 0 8px 4px;
    padding: 12px 28px 12px 0;
    border-left-width: 4px;
    border-left: 4px solid var(--ls-page-blockquote-border-color);
    border-radius: 4px;
    color: var(--ls-page-blockquote-color);
    background-color: var(--ls-page-blockquote-bg-color);
}

.ls-block[data-refs-self*='"quote"']:not(.pre-block)::before,
.ls-block[data-refs-self*='"quote"'] > div  {
    margin-left: -8px;
}

blockquote::before,
.ls-block[data-refs-self*='"quote"']:not(.pre-block) > .flex.flex-row::before {
  position: absolute;
  top: 1px;
  right: 7px;
  content: "\ee09";
  font-family: tabler-icons;
  font-size: 20px;
  opacity: 0.5;
}

blockquote {
  position: relative;
  padding: 8px 30px 8px 20px;
}

.ls-block[data-refs-self*='"quote"'].selected {
    background-color: var(--ls-block-highlight-color);
}
