.theme-inner {
    overflow: hidden;
    height: 100vh;
}
#main-container {
    transition: none;
}
#head {
    position: fixed;
    top: var(--awUI-tabs-height) !important;
    z-index: 99;
    background-color: var(--awUI-calc-bg);
}
body.is-pdf-active #head {
    left: calc(var(--ph-view-container-width));
}
#left-sidebar {
    padding-top: 0 !important;
    bottom: 0;
}
#left-sidebar .left-sidebar-inner>.wrap {
    margin-top: 0;
}
.left-sidebar-inner .nav-contents-container {
    padding-bottom: calc(60px + var(--awUI-tabs-height));
}
#main-content-container {
    flex-wrap: wrap !important;
    z-index: 0;
}
#main-content-container:focus-visible {
    outline: none;
}
.is-banner-active #banner,
body:not(.is-banner-active) .cp__sidebar-main-content,
#left-sidebar,
#right-sidebar,
#search-in-page,
.whiteboard-page {
    margin-top: calc(var(--awUI-tabs-height) + var(--awUI-head-height)) !important;
}
.whiteboard-page {
    height: calc(100% - var(--awUI-tabs-height) - var(--awUI-head-height))!important;
}

/* pdf */
body.is-pdf-active #app-container {
    padding-left: calc(var(--ph-view-container-width));
}
#pdf-layout-container {
    top: 0 !important;
}
