[data-pid="logseq-agenda"] {
    z-index: 10 !important;
    width: calc(
        100%
        - var(--awUi-calc-left-sidebar-width, var(--ls-left-sidebar-width))
        - var(--awUi-calc-right-sidebar-width, var(--ls-right-sidebar-width))
        ) !important;
    height: calc(100vh - var(--awUi-tabs-height) - var(--awUi-header-height)) !important;
    left: var(--awUi-calc-left-sidebar-width, var(--ls-left-sidebar-width));
    right: var(--awUi-calc-right-sidebar-width, var(--ls-right-sidebar-width));
    top: calc(var(--awUi-tabs-height) + var(--awUi-header-height)) !important;
}
