/*
  >>> BEGIN: Journal page
*/
#journals .journal-item {
    margin: 0;
}
.journal-title {
    transition: none;
}
.journal-title .title,
.ls-page-title {
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 0;
}

#journals .journal-item {
    margin: 0;
}
#journals .journal-item + .journal-item {
    margin-top: 24px;
}

/* today queries */
#today-queries {
    margin-bottom: 16px;
}
#today-queries .lazy-visibility {
    min-height: unset !important;
}
/*
  <<<< END: Journal page
*/

/*
  >>> BEGIN: Page bottom
*/
/* linked */
.page-linked .foldable-title h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-linked .foldable-title h2::before {
    content: '\eade';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* unlinked */
.page-unlinked .foldable-title h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-unlinked .foldable-title h2::before {
    content: '\eb46';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* hierarchy */
.page-hierarchy .foldable-title h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-hierarchy .foldable-title h2::before {
    content: '\eb9d';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* tagged */
.page-tags h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-tags h2::before {
    content: '\eb34';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/*
  <<<< END: Page bottom
*/


/*
  >>> BEGIN: Whiteboard page
*/
.whiteboard-page {
    padding: 0 !important;
    height: calc(100vh - var(--ls-headbar-height)) !important;
}
/*
  <<<< END: Whiteboard page
*/


/*
  >>> BEGIN: Breadcrumbs
*/
.page > div > div > div > .breadcrumb span.opacity-50 {
    color: transparent;
}
.page > div > div > div > .breadcrumb span.opacity-50::before {
    display: inline;
    content: "\ea65";
    font-family: "tabler-icons";
    color: var(--ls-link-text-color);
    margin: 0 -18px 0 -2px;
    position: relative;
    top: 2px;
}
.page > div > div > div > .block-parents a {
    padding: 0 3px;
    border-bottom: 1px dashed var(--ls-link-text-color);
}
.page > div > div > div > .block-parents a:hover {
    background-color: var(--awSt-link-hover-bg-color, var(--ls-link-text-hover-color));
}
.page > div > div > div > .breadcrumb.block-parents {
    margin: 0;
    padding: 0.5rem;
}
/*
  <<<< END: Breadcrumbs
*/
