/* hide home button */
#head .button[title="Home"] {
    display: var(--awUi-home-button, flex) !important;
}

/* add new block (+) bullet */
.add-button-link {
    opacity: calc(var(--awUi-new-bullet-hidden, 0) * 1);
}

/* sidebar page icon */
#left-sidebar .left-sidebar-inner .page-icon .ui__icon {
    visibility: var(--awUi-sidebar-page-icon, hidden) !important;
}

/* new page button */
#left-sidebar .left-sidebar-inner .create {
    display: var(--awUi-sidebar-new-page, none) !important;
    position: fixed;
}

/* new page button */
.cp__sidebar-help-btn {
    display: var(--awUi-help-button-hidden, block) !important;
}
