#app-container {
    margin-top: calc(var(--awUi-header-height) + var(--awUi-tabs-height)) !important;
}

#head {
    position: fixed;
}

#head .l #search-button {
    transform: translateY(1px);
}

.is-pdf-active button.navigation {
    display: none;
}

body.is-pdf-active #head {
    margin-left: calc(var(--ph-view-container-width)) !important;
}

body.is-pdf-active #head > .l {
    min-width: unset;
}

/* TODO: delete afte Logseq upd */
.cp__header > .l, .cp__header > .r {
    transform: none;
}
.cp__server-indicator {
    position: fixed;
    right: 8px;
    bottom: 6px;
}

