:root {
    --awUi-header-height: 0px !important;
}

#head {
    background: none !important;
    pointer-events: none;
}

#head .l *,
#head .r * {
    pointer-events: auto;
}

#head::after {
    display: none;
}

#main-content-container {
    padding: 1rem;
}

body:not([data-awui-tabs-position="TopPanel"]) #main-content-container {
    padding-top: var(--awUi-tabs-height)!important;
}

#right-sidebar {
    border-top: var(--ls-headbar-height) solid var(--awSt-ui-rsidebar-bg, transparent) !important;
}
