.cp__sidebar-main-content {
    padding-top: 0 !important;
}

#head {
    position: fixed;
    top: 0;
    height: var(--awUi-header-height) !important;
}

#main-content-container {
    top: var(--awUi-header-height) !important;
    height: calc(100vh - var(--awUi-header-height)) !important;
}

.whiteboard-page {
    height: calc(100vh - var(--awUi-header-height)) !important;
}
