#app-container {
    margin-top: calc(var(--awUi-header-height) + var(--awUi-tabs-height)) !important;
}

#head {
    position: fixed;
}

#head .l #search-button {
    transform: translateY(1px);
}

.is-pdf-active button.navigation {
    display: none;
}

body.is-pdf-active #head {
    margin-left: calc(var(--ph-view-container-width)) !important;
}

body.is-pdf-active #head > .l {
    min-width: unset;
}

/* TODO: delete afte Logseq upd */
.cp__header > .l, .cp__header > .r {
    transform: none;
}

.whiteboard-page {
    padding: 0 !important;
    height: calc(100vh - var(--awUi-header-height)) !important;
}


/* HTTP server button */
.cp__server-indicator {
    margin: 0 0 0 0 !important;
}
.cp__server-indicator .ls-icon-api {
    display: none;
}
.cp__server-indicator code {
    padding: 0 !important;
    font-size: 0;
    background: transparent !important;
    border: 0 !important;
}
.cp__server-indicator code a {
    font-size: 0;
    line-height: 1;
}
.cp__server-indicator code::before,
.cp__server-indicator code a::before {
    display: inline-block;
    font-family: tabler-icons;
    width: 22px;
    height: 22px;
    font-size: 22px;
    opacity: 1;
}
.cp__server-indicator code::before {
    opacity: 0.2
}
.cp__server-indicator code::before {
    content: '\f0a1';
    margin: 7px 0 0 0;
}
.cp__server-indicator code a::before {
    content: '\ebd9';
    border-bottom: 1px dashed;
    margin: 6px 0 0 -22px;
}