body {
    background-color: var(--ls-primary-background-color);
}

#app-container {
    margin-top: var(--awUi-header-height) !important;
}

#head {
    position: fixed;
    height: var(--ls-headbar-height) !important;
}

#head .l #search-button {
    transform: translateY(1px);
}

.is-pdf-active button.navigation {
    display: none;
}

body.is-pdf-active #head {
    margin-left: calc(var(--ph-view-container-width)) !important;
}

body.is-pdf-active #head > .l {
    min-width: unset;
}

.whiteboard-page {
    padding: 0 !important;
    height: calc(100vh - var(--awUi-header-height)) !important;
}

.ls-window-controls .cp__header > .r {
    margin-right: 120px !important;
}

.ls-window-controls .window-controls {
    top: 7px;
    right: 6px;
    gap: 4px;
}

.ls-window-controls .window-controls .button {
    z-index: 100;
    height: 30px;
    width: 30px;
    padding: 0;
    outline: 1px dotted var(--ls-border-color);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0px var(--ls-border-color);
}
