/* search filed position */
#search-button {
    display: flex;
    justify-content: start;
    flex-grow: 1;
    overflow: hidden;
    height: 34px;
    margin: 0 10px;
    padding: 0 6px;
    border-radius: 5px;
    border: 1px solid #88888850;
    transition: all .3s;
    font-family: var(--awUi-font);
    opacity: 0.6;
}
#search-button:hover {
    opacity: 1;
    background: none;
    cursor: text;
}
#search-button::after {
    display: block;
    content: "Search or create page";
    margin: 2px 0 0 5px;
    font-size: calc(var(--awUi-font-size) + 2px);
}

/* search popup position */
@media (min-width: 1024px) {
    .ui__modal[label="ls-modal-search"] {
        left: calc(var(--ls-left-sidebar-width) + 10px);
        top: calc(var(--awUi-tabs-height) + 5px);
        padding: 0;
        justify-content: flex-start;
    }
}
.ui__modal[label="ls-modal-search"] .ui__modal-panel {
    transition: none !important;
}
.ui__modal[label="ls-modal-search"] .panel-content,
.ui__modal[label="ls-modal-search"] .cp__palette-main,
.panel-content .ls-search {
    min-width: unset;
    width: auto;
}
.ui__modal[label="ls-modal-search"] .cp__palette-main {
    margin: -2rem -1.5rem;
}
@media (min-width: 640px) {
    .ui__modal[label="ls-modal-search"] .cp__palette-main {
        margin: -2rem;
    }
}

.ls-search {
    border-radius: 4px;
}
@media (min-width: 1400px) {
    .ui__modal-panel .panel-content .ls-search {
        width: calc(var(--ls-main-content-max-width) + var(--ls-left-sidebar-width));
    }
}
.ls-search .input-wrap {
    position: relative;
    height: 32px;
}
.ls-search .input-wrap::before {
    font-family: "tabler-icons";
    content: "\eb1c";
    font-size: 20px;
    position: absolute;
    left: 6px;
    top: 0;
}
.ls-search .input-wrap .cp__palette-input {
    font-size: calc(var(--awUi-font-size) + 2px);
    padding: 3px 0 0 31px;
    border: 1px solid var(--ls-border-color);
    border-radius: 4px;
    margin: -1px;
}

/* search results style */
.ls-search .search-results-wrap {
    margin-top: 2px;
}
.ls-search .recent-search .wrap {
    padding-top: 8px;
}
.ls-search .search-result,
.ls-search .search-result .font-medium {
    font-weight: 400;
}
.ls-search .search-results .menu-link {
    padding-top: 0;
    padding-bottom: 0;
}
.ls-search .menu-link {
    border-top: 1px dashed var(--ls-secondary-background-color);
}
.ls-search .menu-link:hover,
.ls-search .menu-link .chosen {
    background-color: var(--ls-primary-background-color);
}
