.ls-block[data-refs-self*='"card"'] {
    --ls-guideline-color: transparent;
    position: relative;
    margin: -2px 0 8px 4px;
    padding: 12px 28px 12px 0;
    border: 1px solid var(--ls-border-color);
    border-left-width: 4px;
    box-shadow: none;
}

.ls-block[data-refs-self*='"card"']:not(.pre-block)::before,
.ls-block[data-refs-self*='"card"'] > div  {
    margin-left: -8px;
}

.ls-block[data-refs-self*='"card"'] > .flex.flex-row::before {
    position: absolute;
    top: 0px;
    right: 8px;
    content: "\ea38";
    font-family: tabler-icons;
    font-size: 20px;
    opacity: 0.5;
}
