:root {
    --awUI-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --awUI-font-size: 13px;
}

/* image overlay*/
.block-content .asset-container .asset-overlay {
    height: 40px;
}

/* multiline code */
.extensions__code {
    border-radius: 4px;
}
.extensions__code-lang::after {
    content: "\ea77";
    font-family: tabler-icons;
    font-size: 20px;
    opacity: 0.5;
    margin: 0px 0 0 6px;
    display: inline-block;
    position: relative;
    top:4px;
}

.cards-review .ui__dropdown-trigger {
    z-index: 11 !important;
}

/* line */
hr {
    margin: 0.7em 0;
    border-top: 2px dotted var(--ls-border-color);
}
