/* "Journal" page */
#journals .journal-item {
    margin: 0;
}
.journal-title {
    transition: none;
}
.journal-title .title,
.ls-page-title {
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 0;
}
/* today queries */
#today-queries {
    margin-bottom: 16px;
}
#today-queries .lazy-visibility {
    min-height: unset !important;
}

/*
  >>> BEGIN: Page bottom
*/
/* linked */
.page-linked .foldable-title h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-linked .foldable-title h2::before {
    content: '\eade';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* unlinked */
.page-unlinked .foldable-title h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-unlinked .foldable-title h2::before {
    content: '\eb46';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* hierarchy */
.page-hierarchy .foldable-title h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-hierarchy .foldable-title h2::before {
    content: '\eb9d';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/* tagged */
.page-tags h2 {
    font-weight: 600;
    opacity: 0.6;
}
.page-tags h2::before {
    content: '\eb34';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    line-height: 1em;
    font-family: tabler-icons;
}
/*
  <<<< END: Page bottom
*/
