:root {
    --awUi-header-height: 44px;
    --ls-headbar-height: 44px;
    --awUi-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --awUi-font-size: 13px;
}
