@import url("./modules/pages/pages.css");
@import url("./modules/extPlugins/extPlugins.css");
@import url("./modules/other/other.css");

:root {
    --ls-headbar-height: 44px;
    --awUI-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --awUI-font-size: 13px;
}
