@import url("css/layout.css");
@import url("css/head.css");

@import url("css/query.css");
@import url("css/quoteTag.css");
@import url("css/admonition.css");
@import url("css/calculator.css");

@import url("css/pages.css");
@import url("css/content.css");

@import url("css/market.css");

@import url("css/plugins.css");

:root {
    --awUI-tabs-height: 0px;
    --awUI-head-height: 48px;

    --awUI-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --awUI-font-size: 13px;
}

.is-tabs-loaded {
    --awUI-tabs-height: 40px;
}
