/*
  >>> BEGIN: Left sidebar
*/
#left-sidebar .ls-icon-infinity svg {
    display: none;
}
#left-sidebar .ls-icon-infinity::before {
    content: "\ea38";
}
#left-sidebar .ls-icon-hierarchy svg {
    display: none;
}
#left-sidebar .ls-icon-hierarchy::before {
    content: "\edff";
}
.text-sm li {
    margin: 0;
}
#left-sidebar .nav-header {
    gap: 0;
}
#left-sidebar .item {
    padding: 5px 8px;
    transition: none;
}
#left-sidebar .item > .ti {
    font-size: 18px;
}
#left-sidebar .nav-content-item {
    border-top: 1px dotted var(--ls-guideline-color);
}
#left-sidebar .nav-content-item .header {
    margin-top: 4px;
}
/*
  <<<< END: Left sidebar
*/


/*
  >>> BEGIN: Right sidebar
*/
/* right sidebar toolabar icons */
.cp__right-sidebar-topbar .cp__right-sidebar-settings-btn {
    display: flex;
    align-items: end;
    border: 1px solid var(--ls-tertiary-background-color);
    padding: 3px 6px 3px 4px;
    border-radius: 4px;
}
.cp__right-sidebar-topbar .cp__right-sidebar-settings-btn::before {
    font-family: 'tabler-icons';
    width: 22px;
    height: 22px;
    font-size: 20px;
    margin-right: 4px;
    opacity: 0.5;
    transition: 0.3s;
}
.cp__right-sidebar-topbar .cp__right-sidebar-settings-btn:hover::before {
    opacity: 1;
}
.cp__right-sidebar-topbar
    .cp__right-sidebar-settings
    > div:nth-of-type(1)
    > .cp__right-sidebar-settings-btn::before {
    content: '\ef40';
}
.cp__right-sidebar-topbar
    .cp__right-sidebar-settings
    > div:nth-of-type(2)
    > .cp__right-sidebar-settings-btn::before {
    content: '\edff';
}
.cp__right-sidebar-topbar
    .cp__right-sidebar-settings
    > div:nth-of-type(3)
    > .cp__right-sidebar-settings-btn::before {
    content: '\eabf';
}
/*
  <<<< END: Right sidebar
*/
